{% extends '@EMSCH/template/base/bootstrap.html.twig' %}
{% trans_default_domain trans_default_domain %}


{% block main -%}
    <h1>{{ attribute(source, locale).title|default('') }}</h1>

{%- endblock main %}
