{% spaceless %}
    {% trans_default_domain trans_default_domain %}
    {% set locale = app.request.locale %}
    
    {% set wyiwygReplacesDefault = { 
        'src="https://www.youtube.com/': 'allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src="https://www.youtube-nocookie.com/',

        '%toc%': '<div id="toc"><h2 class="not-in-toc">' ~ 'toc'|trans ~ '</h2></div>',
    } %}
    
    {# 
        locales: list of available locales for this target
        hostPattern: The host pattern is used to generate the switch language URLS:
            %environment%
            %locale%
        canonicals: use for the canonicals and in the language switch in live (if isLive = true)
        isLive: if set to true the canonicals urls are used in the language switch
        searchTemplate: Search template, supported values (can also be unset):
            - left
            - top
    #}
    {% set targetConfigs = {
        site: {
            locales: {
                'English': 'en',
                'Français': 'fr',
                'Nederlands': 'nl',
                'Deutsch': 'de'
            },
            hostPattern: 'demo-%environment%.elasticms.eu',
            canonicals: {
                'en': 'demo.elasticms.eu',    
                'fr': 'demo.elasticms.eu',    
                'nl': 'demo.elasticms.eu',    
                'de': 'demo.elasticms.eu'
            },
            isLive: true,
            searchTemplate: 'top',
            filters: {
                search_type: {
                    type: 'Type',
                    types: [
                        'news', 
                        'page', 
                        'faq', 
                        'link',
                    ],
                },
                search_category: {
                    type: 'Taxonomy',
                },
                search_year: {
                    type: 'Year',
                },
            },
            wyiwygReplaces: [
            ],
            cdnSiteId: 'AXG011Kf2GwxbXw0jYbT',
            matomoSiteIds : {
                live: 15,
                preview: 13,
                staging: 14,
            },
            footerMenu: 'menu:AXD8Ea7tPIEQM_S9N3do'
        },
        doc: {
            locales: {
                'English': 'en',
                'Français': 'fr',
                'Nederlands': 'nl',
                'Deutsch': 'de'
            },
            hostPattern: 'demo-%environment%.elasticms.eu',
            canonicals: {
                'en': 'demo.elasticms.eu',    
                'nl': 'demo.elasticms.eu',    
                'fr': 'demo.elasticms.eu',    
                'de': 'demo.elasticms.eu'
            },
            isLive: true,
            searchTemplate: 'left',
            filters: {
                search_category: {
                    type: 'Taxonomy',
                },
                search_type: {
                    type: 'Type',
                    types: [
                        'news', 
                        'page', 
                        'faq', 
                        'link',
                    ],
                },
                search_subtype: {
                    type: 'GroupedTaxonomy',
                },
                search_year: {
                    type: 'Year',
                },
            },
            wyiwygReplaces: [
            ],
            cdnSiteId: 'AXG011Kf2GwxbXw0jYbT',
            matomoSiteIds : {
                live: 15,
                preview: 13,
                staging: 14,
            },
            footerMenu: 'menu:AXD8Ea7tPIEQM_S9N3do'
        }
    } %}
    
    {% set monthsTrans = {
        '%January%': 'month.January'|trans,
        '%February%': 'month.February'|trans,
        '%March%': 'month.March'|trans,
        '%April%': 'month.April'|trans,
        '%May%': 'month.May'|trans,
        '%June%': 'month.June'|trans,
        '%July%': 'month.July'|trans,
        '%August%': 'month.August'|trans,
        '%September%': 'month.September'|trans,
        '%October%': 'month.October'|trans,
        '%November%': 'month.November'|trans,
        '%December%': 'month.December'|trans,
    } %}
    {% set targetGroup =  app.request.get('_target_group', targetConfigs|keys|first) %}
    {% set targetConfig = attribute(targetConfigs, targetGroup) %}
    {% set wyiwygReplaces = wyiwygReplacesDefault|merge(targetConfig.wyiwygReplaces) %}
    {% set siteHashAssets = '895259f58188ad3b952450727a0ccb1c684ae6fc' %}
    {% set environment = app.request.get('_environment', 'live') %}
    {% set language = targetConfig.locales|filter(v => v == app.request.locale)|keys|first  %}
    {% set assetPath = emsch_assets_version(siteHashAssets) %}
    
    {%- block request %}{% endblock request -%}

{% endspaceless %}